.sidebar {
  fonts-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  min-height: 200px;
  background-color: #FFCC90;
}

.card {
  width: 100px;
  margin: 10px;
}

.card_photo {
  img {
    width: 100%;
    border-radius: 50%;
  }
}

.allUsers  {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,100px);
  column-gap: 10px;
  overflow: auto;
  max-height: 500px;
}
.selectedUsers {
  display: grid;
  justify-content: center;

  grid-template-columns: auto auto auto;
  overflow: auto;
  max-height: 500px;
}
.card_btn {
  border-radius: 10px;
  background: #6B45CF;
  color: #fff;
}