.wrapper {
    display: grid;
    margin: 0px auto;
    min-height: 100vh;
    grid-template-columns: auto auto 400px;
    grid-template-rows:  auto  1fr auto;
    grid-template-areas:
             'header header header'
             'main main sidebar'
             'footer footer footer';
}

@media (max-width: 640px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
             'header header header'
             'main main main'
             'sidebar sidebar sidebar'
             'footer footer footer';
    }

}

.header {
    grid-area: header;
    margin-bottom: 20px;
    background: white;
}

main {
    grid-area: main;
}


.sidebar {
    grid-area: sidebar;

}


footer {
    grid-area: footer;
    color: white;
    background: black;
}